/* GENERAL STYLES */

:root {
  /* Change these colors to update the color theme of your project */
  --primary-color: #8D6DDE;
  --secondary-color: #d16dde;
  --accent-color: #00c459;
  --body-background-color: #1D1D1D;
  --primary-text-color: #080808;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

body {
  margin: 10px;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: var(--font-poppins);
  font-size: 21px;
  background-color: var(--body-background-color);
  background-size: 30%;
  /* background: linear-gradient(-45deg, #2b2d31,#ffda00, #e44f20, #1770e5, #00c459);
	background-size: 300% 300%;
	animation: gradient 15s ease infinite; */
}

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

main {
  max-width: 1400px;
  margin: auto;
  border: 3px solid var(--primary-text-color);
  border-radius: 3px 3px 0 0;
}

p, ul, h4, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 10px 0;
  color: #1D1D1D;
  font-family: var(--font-poppins);
}

.container, .hero {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.contentful-image {
  height: auto;
  width: 100%;
}

/* ALBUMS */

.album-container {
  background-color: white;
  text-align: center;
  display: grid;
  grid-gap: 35px;
}

.album {
  padding: 20px;
  color: var(--primary-text-color);
  text-align: left;
  position: relative;
}

.album a {
  color: var(--primary-text-color);
  font-size: 25px;
  text-decoration: none;
}

.album-month {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.album-title {
  margin-bottom: 10px;
}

.album-cover {
  height: 100%;
}

.album-cover-wrapper, .album-title {
  cursor: pointer;
}

.favorite {
  height: 80px;
  width: 80px;
  background-color: #e44f20;
  border-radius: 50%;
  padding: 3px 0 0 3px;
  position: absolute;
  top: -30px; /* 77px */
  left: -30px;
  z-index: 99;
}

.favorite img {
  height: 100%;
  width: 100%;
}

/* HOMEPAGE */

.hero {
  padding: 30px;
  background: white;
  /* border-bottom: 3px solid var(--primary-text-color); */
}

.hero h1 a {
  color: #1D1D1D;
  text-decoration: none;
}

.intro {
  max-width: 800px;
  color: #1D1D1D;
}

.home-albums .album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  align-items: stretch;
}

.home-albums .album {
  background-color: white;
  border: 3px solid var(--primary-text-color);
  /* box-shadow: 5px 5px white, 7px 7px black, 12px 12px white, 13px 13px black; */
  /* max-width: 350px; */
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 7px;
}

.home-albums .album-cover-wrapper {
  padding: 15px;
}

.home-albums .album-details-text {
  padding: 0 15px 15px 15px;
}

.album-content {
  width: 300px;
  position: relative;
}

/* ALBUM PAGE */

.music-labels {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  margin-top: 10px;
}

.music-labels li {
  padding: 10px 10px 10px 25px;
  margin: 0;
  border: 3px solid var(--primary-text-color);
  font-size: 14px;
  text-transform: capitalize;
  position: relative;
}

/* .music-labels li:before {
  background-color: blue;
} */

/* .category {
  background: #1770e5;
} */

.music-labels li:before {
  background-color: #ffda00;
  height: 100%;
  width: 15px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-right: 3px solid black;
}

.category:first-child:before {
  background-color: #1770e5;
}

.category:nth-child(2n):before  {
  background: #ff433e;
}

.category:nth-child(3n):before  {
  background: #6DDE9A;
}

/* #55575b */

/* .category:nth-child(4n) {
  background-color: #d16dde;
} */

/* PAGE */

.page {
  background-color: var(--body-background-color);
  max-width: 1400px;
  margin: auto;
}

.page h2 {
  margin: 0;
}

.page article {
  background: white;
}

.page-header {
  background-color: var(--primary-text-color);
  padding: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.page-header a {
  color: white;
}

.page-content {
  max-width: 1400px;
  margin: 20px auto;
}

.page .favorite {
  display: none;
}

.page .album-page-header .album-cover-wrapper {
  height: 250px;
  width: 250px;
}

.page .album-page-header .album-cover-wrapper img {
  width: auto;
  height: 250px;
  border: 0;
  border-right: 3px solid var(--primary-text-color);
}

hr {
  border: 10px solid var(--accent-color);
  margin: 20px 0;
}

.album-thoughts {
  padding: 30px;
}

.album-page-title {
  font-size: 40px;
}

.album-page-subtitle {
  font-size: 40px;
}

.album-page-header {
  border-bottom: 5px solid var(--primary-text-color);
  align-items: center;
  justify-content: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

.album-page-header span:first-of-type {
  height: 100% !important;
  display: block !important;
}

.album-page-info {
  display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.album-page-info h2 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  font-size: 1.5rem;
}

.header-link {
  text-decoration: none;
}

.rich-text-content {
  padding: 30px;
}

.rich-text-content p {
  font-size: 21px;
}

/* FOOTER */

footer {
  max-width: 1400px;
  margin: 0 auto 30px auto;
  background-color: #3e4044;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border: 3px solid var(--primary-text-color);
}

.footer-link a {
  background-color: var(--primary-text-color);
  padding: 10px 25px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 425px) {
  .home-albums .album {
    justify-content: center;
  }
}

@media screen and (min-width: 426px) {

  body {
    margin: 30px;
  }

  .home-albums .album-month {
    padding: 0 15px 15px 15px;
    margin: 0;
    writing-mode: vertical-lr;
    border-right: 2px solid black;
    font-size: 60px;
    width: 95px;
    padding: 22px 0;
  }

  .home-albums .album-container {
    padding: 50px 0;
  }
 
  .album-page-title {
    font-size: 60px;
  }
  .album-page-header {
    flex-direction: row;
  }

  .page .album-page-header .album-cover-wrapper {
    height: 400px;
    width: 400px;
  }
  
  .page .album-page-header .album-cover-wrapper img {
    width: auto;
    height: 400px;
    border: 0;
    border-right: 3px solid var(--primary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .album-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .album-page-header {
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: unset;
  }

  .album-page-header .album-cover-wrapper {
    min-width: 400px;
  }
}

/* img {
  width: auto;
  height: 300px;
} */

.hero-image {
  background-repeat: repeat-x;
  background-size: 795px;
  display: none;
}

.stats-container {
  background-color: var(--primary-text-color);
}

.stats {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  grid-gap: 15px;
  color: white;
}

.stat-number {
  font-size: 40px;
  font-weight: bold;
}

.stat-name {
  font-size: 21px;
}

.stat {
  padding: 15px;
  border: 2px solid white;
  box-shadow: 2px 2px white, 4px 4px #1f1f1f, 6px 6px white;
  border-radius: 7px;
  margin: 10px;
  color: white;
}

.stat.stat-blue {
  border: 2px solid #1770e5;
  box-shadow: 2px 2px #1770e5, 4px 4px #1f1f1f, 6px 6px #1770e5;
  color: #1770e5;
}

.stat.stat-red {
  border: 2px solid #ff433e;
  box-shadow: 2px 2px #ff433e, 4px 4px #1f1f1f, 6px 6px #ff433e;
  color: #ff433e;
}

.stat.stat-green {
  border: 2px solid #6DDE9A;
  box-shadow: 2px 2px #6DDE9A, 4px 4px #1f1f1f, 6px 6px #6DDE9A;
  color: #6DDE9A;
}

.stat.stat-yellow {
  border: 2px solid #ffda00;
  box-shadow: 2px 2px #ffda00, 4px 4px #1f1f1f, 6px 6px #ffda00;
  color: #ffda00;
}

.stat-most-added {
  text-transform: capitalize;
}

.genre-stats {
  margin-top: 30px;
/* border-top: 3px dotted; */
padding-top: 30px;
}

.genre-stats .stat {
  box-shadow: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0;
}

.genre-stats .stat-number {
  font-size: 21px;
  font-weight: normal;
  padding: 10px;
  border-left: 3px solid white;
  background-color: white;
  color: var(--primary-text-color);
}

.genre-stats .stat-name {
  padding: 10px;
}